# ignore pickle files
*.p
# ignore the folders containing simulation snapshots
snapshots/
# ignore MATLAB saved data
*.mat
# ignore radial files
*.ruv
# ignore all netcdf files
*.nc
# ignore particle output data
out-*/
# ignore input data
data/*
!data/field_netcdfs
data/field_netcdfs/*
!data/field_netcdfs/README.md
# ignore output data folder
results/**
# MATLAB autosave stuff
*.asv
# logs
logs/
# scratch notebook
scratch.ipynb

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### macOS ###
# General
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
