ocean_data:
  - name: hfrnet
    data: http://hfrnet-tds.ucsd.edu/thredds/dodsC/HFR/USEGC/6km/hourly/RTV/HFRADAR_US_East_and_Gulf_Coast_6km_Resolution_Hourly_RTV_best.ncd
    domain:
      # rough estimate of available HFRNet data near New York
      # southwest: 38.162201, -75.709632
      # northeast: 41.520008, -69.723751
      S: 38.162201
      N: 41.520008
      W: -75.709632
      E: -69.723751
    time_range:
      # hurrican henri timespan (cat 1 hurricane/tropical storm near new york)
      - 2021-08-21T12:00
      - 2021-08-23T18:00
    boundary_condition: freeslip
  - name: hycom
    data: data/field_netcdfs/hycom_hurrhenri.nc
    # data: https://tds.hycom.org/thredds/dodsC/GLBy0.08/expt_93.0/uv3z
    # domain:
    #   # rough estimate of available HFRNet data near New York
    #   # southwest: 38.162201, -75.709632
    #   # northeast: 41.520008, -69.723751
    #   S: 38.162201
    #   N: 41.520008
    #   # W: -75.709632
    #   # E: -69.723751
    #   W: 284.290368
    #   E: 290.276249
    # time_range:
    #   # hurrican henri timespan (cat 1 hurricane/tropical storm near new york)
    #   - 2021-08-21T12:00
    #   - 2021-08-23T18:00
    boundary_condition: freeslip
parcels_config:
  save_dir: results
  particle_type: pyplume.kernels.ThreddsParticle
  kernels:
    - parcels.AdvectionRK4
    - pyplume.kernels.AgeParticle
    - pyplume.kernels.RandomWalk5cm
  time_range:
    - 2021-08-21T12:00
    - 2021-08-23T18:00
  repeat_dt: 3600
  repetitions: -1
  instances_per_spawn: 1
  spawn_points:
    -
      label: apoint
      point: [40.3992, -73.6665]
      # point: [38.809053, -74.536783]
      release: 2021-08-21T12:00
      pattern: {
        "type": "grid",
        "args": {
          "size": 3,
          "gapsize": 0.05
        }
      }
      # pattern: {
      #   "type": "ball",
      #   "args": {
      #     "radius": 0.05,
      #     "numpoints": 30
      #   }
      # }
  simulation_dt: 600
  snapshot_interval: 1800
postprocess_config: {}
save_snapshots: true
plotting_config:
  plots:
    - type: pyplume.resultplots.ParticlePlot
      label: particleplots
      coastline: true
      draw_currents: true
      domain:
        S: 38.162201
        N: 41.520008
        W: -75.709632
        E: -69.723751
    - type: pyplume.resultplots.CumulativeParticleDensityPlot
      domain:
        S: 38.162201
        N: 41.520008
        W: -75.709632
        E: -69.723751
      coastline: true
